#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem 0;
}

#rotate__img {
  animation-name: rotate;
  animation-duration: 90s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes rotate{
  from{ transform: rotate(-360deg); }
  to{ transform: rotate(360deg); }
}


